<!-- Login Section Start -->
<section class="login-section">
  <div class="container-fluid">
    <div class="row main-row align-items-stretch">
      <div class="col-12 col-lg-6 col-xl-4 d-flex align-items-center">
        <div class="login-wrap">
          <div class="login-logo-wrp text-center">
            <svg width="58" height="57" viewBox="0 0 58 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M28.5391 0C12.7989 0 0.0390625 12.7599 0.0390625 28.5C15.7792 28.5 28.5391 15.7401 28.5391 0Z"
                fill="#0066FF" />
              <path d="M28.5391 57C44.2792 57 57.0391 44.2401 57.0391 28.5C41.2989 28.5 28.5391 41.2599 28.5391 57Z"
                fill="#0066FF" />
              <path d="M28.5391 0C44.2792 0 57.0391 12.7599 57.0391 28.5C41.2989 28.5 28.5391 15.7401 28.5391 0Z"
                fill="#7FB2FF" />
              <path d="M28.5391 57C12.7989 57 0.0390611 44.2401 0.0390625 28.5C15.7792 28.5 28.5391 41.2599 28.5391 57Z"
                fill="#7FB2FF" />
            </svg>
            <div class="login-form-title">Welcome to VirtualTRUST<sup>TM</sup></div>
          </div>
          <div class="form-wrp">
            <div class="login-form-name-inner text-center">Reset Password</div>
            <div class="login-form-subname-inner text-center">Need re-login once you reset password.</div>
            <form id="loginform" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
              <div class="row">
                <div class="form-group col-12">
                  <div class="field-wrap">
                    <div class="form-label">
                      <label for="uname">Password*</label>
                    </div>
                    <div class="form-element">
                      <input type="password" name="password" placeholder="Enter your new password"
                        formControlName="password" required #passwordInput>
                    </div>
                    <div class="error-message"
                      *ngIf="(changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)">
                      <span *ngIf="changePasswordForm.controls['password'].hasError('required')">Password is
                        required.</span>
                      <span *ngIf="changePasswordForm.controls['password'].hasError('minlength')">Password is too short
                        (minimum 8 character required).</span>
                      <span *ngIf="changePasswordForm.controls['password'].hasError('pattern')">
                        Password The password must contain letter (uppercase or lowercase, digit special character from
                        the set $, @, $, !, %, *, #, ?, or & and at least 8 characters long) .
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12">
                  <div class="field-wrap">
                    <div class="form-label">
                      <label for="uname">Confirm Password*</label>
                    </div>
                    <div class="form-element">
                      <input type="password" name="confirmPassword" placeholder="Re-enter your password"
                        formControlName="confirmPassword" required #confirmPasswordInput>
                    </div>
                    <div class="error-message"
                      *ngIf="(changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)">
                      <span *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required')">
                        Confirm password Required.
                      </span>
                      <span
                        *ngIf="!changePasswordForm.controls['confirmPassword'].hasError('required') && !isPasswordMatch">
                        Confirm password does not match with entered password.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group button-wrap col-md-12">
                  <div class="field-wrap text-center">
                    <button type="submit" class="btn btn-primary" *ngIf="!isLoading">Reset Password</button>
                    <div class="spinner-container">
                      <mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-8 p-0">
        <div class="login-background">
          <div class="login-logo-right text-center">
            <div class="logo-img-wrap"><img src="assets/images/logo.png" alt="logo" width="92" height="91"></div>
            <div class="login-form-title">VirtualTRUST<sup>TM</sup></div>
            <div class="login-form-sub-title">Login to get started with VirtualTRUST<sup>TM</sup></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Login Section End-->