div {
  mat-icon {
    color: #ced2da;
  }
}

.header-item {
  display: flex;
  padding: 0px !important;
}

.header-item-title {
  padding: 4px;
}

.mr-5 {
  margin-right: 5px !important;
}

.cursor-default {
  cursor: default;
}