$color-blue-dark: #212121;
$color-blue-light: #0097D0;
$color-white: #ffffff;
$color-all-black: #141C24;
$color-black: #141C24;
$color-gray: #333333;
$color-body: #F5F5F5;
$color-input-border: #E0E0E0;
$color-scroll: #414E62;
$color-search: #97A1AF;
$color-item-link: #F3F3F3;
$color-datatable: #f4f4f4;
$color-table-scroll: #D6D6D6;
$color-success: #50CDA5;
$background-success: #E8FFF3;
$color-danger: #F1416C;
$background-danger: #FDF1F4; 
$color-date: #889EBD;
$background-date: #F6FAFF;
// Action Colors
$theme-left-side: var(--theme-left-side);
$theme-nav-link: var(--theme-nav-link);
$theme-active-nav-link: var(--theme-active-nav-link);
